In [6]:
import pandas as pd
import numpy as np

#pandas configurations

In [7]:
df=pd.read_csv('C:/Users/ishar/Documents/datascience/House.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5619 entries, 0 to 5618
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Price          5619 non-null   int64
 1   Location       5619 non-null   object
 2   Property Ref   5619 non-null   int64
 3   Date Added     5619 non-null   object
 4   Last Updated   5619 non-null   object
 5   market Status  5619 non-null   object
 6   Type           5619 non-null   object
 7   Price_cat      5619 non-null   object
 8   Bedroom        5619 non-null   float64
 9   Bathroom       5619 non-null   float64
 10  Toilets        5619 non-null   float64
 11  Town           5619 non-null   object
dtypes: float64(3), int64(2), object(7)
memory usage: 526.9+ KB

In [8]:
df.head()

,Price,Location,Property Ref,Date Added,Last Updated,market Status,Type,Price_cat,Bedroom,Bathroom,Toilets,Town
0,65000000,"By American International School, Durumi, Abuja",2260848,2024-05-17,2024-05-17,Available,Block of Flats,Millions,2.0,2.0,3.0,Durumi
1,140000000,"Karsana Gwarimpa Extension In An Estate, Gwari...",2260786,2024-05-17,2024-05-17,Available,Detached Duplex,Millions,4.0,4.0,5.0,Gwarimpa
2,63500000,"Lugbe District, Abuja",2260743,2024-05-17,2024-05-17,Available,House,Millions,5.0,6.0,6.0,Lugbe District
3,220000000,"Behind Suncourt Hotel, Kado, Abuja",2161046,2024-03-14,2024-05-02,Available,Detached Duplex,Millions,5.0,5.0,6.0,Kado
4,77500000,"Opposite Nicon Junction, Katampe, Abuja",2162917,2024-03-15,2024-05-12,Available,Terraced Duplex,Millions,5.0,5.0,6.0,Katampe

In [ ]:
df.columns

In [17]:
df_unness=df[['Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16']]
df.drop('Unnamed: 16',axis=1,inplace=True)

In [18]:
#df.drop(columns=['Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16'],axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6866 entries, 0 to 6865
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   2,500,000,000              6866 non-null   object
 1   Maitama District, Abuja    6866 non-null   object
 2   Property Ref: 2173814      6866 non-null   object
 3   Added On: 22 Mar 2024      6866 non-null   object
 4   Last Updated: 23 Apr 2024  6866 non-null   object
 5   Market Status: Available   6866 non-null   object
 6   Type: Detached Duplex      6866 non-null   object
 7   Bedrooms: 7                6844 non-null   object
 8   Bathrooms: 8               6212 non-null   object
 9   Toilets: 8                 5834 non-null   object
 10  Parking Spaces: 10         4413 non-null   object
 11  Total Area: 1,700 sqm      2487 non-null   object
 12  Covered Area: 1,700 sqm    1651 non-null   object
 13  Unnamed: 13                301 non-null    object
 14  Unnamed: 14                20 non-null     object
 15  Unnamed: 15                3 non-null      object
dtypes: object(16)
memory usage: 858.4+ KB

In [19]:
df['Unnamed: 15'].value_counts()

Unnamed: 15
Service Charge: ₦150,000 per annum    1
Service Charge: ₦200,000 per annum    1
Service Charge: ₦250,000 per annum    1
Name: count, dtype: int64

In [ ]:
df_unness[~df_unness.isna()]

In [21]:
df['Bedrooms: 7'].unique()

array(['Bedrooms: 5', 'Bedrooms: 2', 'Bedrooms: 4', 'Bedrooms: 3',
       'Bedrooms: 6', 'Bedrooms: 9', 'Bedrooms: 1', 'Bedrooms: 8',
       'Bedrooms: 7', 'Bedrooms: 11', 'Bedrooms: 37', 'Bedrooms: 40',
       'Bedrooms: 10', 'Total Area: 1,000 sqm', 'Covered Area: 1,200 sqm',
       nan, 'Bedrooms: 12', 'Bedrooms: 14', 'Bathrooms: 18',
       'Bedrooms: 16', 'Bedrooms: 54', 'Bedrooms: 28', 'Bedrooms: 36',
       'Bedrooms: 17', 'Bathrooms: 2', 'Bedrooms: 64', 'Bedrooms: 13',
       'Bedrooms: 20', 'Bedrooms: 15', 'Bedrooms: 46', 'Bedrooms: 48',
       'Bedrooms: 287', 'Bedrooms: 32', 'Total Area: 400 sqm',
       'Covered Area: 1,000 sqm', 'Bedrooms: 18', 'Bedrooms: 38',
       'Bedrooms: 39', 'Bedrooms: 33', 'Servicing: Serviced',
       'Bedrooms: 21', 'Bedrooms: 60', 'Bathrooms: 6', 'Bedrooms: 25',
       'Bedrooms: 26', 'Total Area: 1,723 sqm', 'Bedrooms: 44',
       'Bedrooms: 50', 'Bedrooms: 23', 'Bedrooms: 24', 'Bedrooms: 65',
       'Bedrooms: 42', 'Bedrooms: 56', 'Total Area: 1,652 sqm',
       'Parking Spaces: 10'], dtype=object)

In [22]:
df['Bathrooms: 8'].unique()

array([nan, 'Bathrooms: 2', 'Toilets: 6', 'Bathrooms: 4', 'Bathrooms: 6',
       'Bathrooms: 5', 'Bathrooms: 8', 'Bathrooms: 3', 'Toilets: 4',
       'Bathrooms: 10', 'Bathrooms: 1', 'Toilets: 5', 'Toilets: 7',
       'Bathrooms: 7', 'Bathrooms: 9', 'Furnishing: Furnished',
       'Total Area: 1,000 sqm', 'Bathrooms: 37', 'Bathrooms: 12',
       'Toilets: 2', 'Bathrooms: 30', 'Toilets: 8', 'Toilets: 3',
       'Bathrooms: 18', 'Toilets: 10', 'Bathrooms: 22',
       'Total Area: 500 sqm', 'Bathrooms: 11', 'Total Area: 950 sqm',
       'Total Area: 2,000 sqm', 'Toilets: 9', 'Toilets: 24',
       'Total Area: 973 sqm', 'Bathrooms: 16', 'Bathrooms: 72',
       'Bathrooms: 28', 'Bathrooms: 19', 'Total Area: 3,200 sqm',
       'Total Area: 750 sqm', 'Bathrooms: 14', 'Total Area: 1,500 sqm',
       'Bathrooms: 64', 'Bathrooms: 13', 'Total Area: 1,134 sqm',
       'Bathrooms: 20', 'Bathrooms: 17', 'Servicing: Serviced',
       'Bathrooms: 24', 'Bathrooms: 46', 'Bathrooms: 48', 'Bathrooms: 40',
       'Bathrooms: 287', 'Bathrooms: 32', 'Bathrooms: 55',
       'Bathrooms: 70', 'Total Area: 250 sqm', 'Total Area: 780 sqm',
       'Total Area: 650 sqm', 'Total Area: 1,800 sqm',
       'Parking Spaces: 10', 'Toilets: 50', 'Toilets: 18',
       'Total Area: 580 sqm', 'Bathrooms: 39', 'Total Area: 4,000 sqm',
       'Total Area: 1,700 sqm', 'Total Area: 1,050 sqm',
       'Total Area: 5,179 sqm', 'Total Area: 800 sqm',
       'Total Area: 5,000 sqm', 'Bathrooms: 23', 'Total Area: 1,200 sqm',
       'Total Area: 1,400 sqm', 'Parking Spaces: 400',
       'Total Area: 2,619 sqm', 'Bathrooms: 60', 'Total Area: 1,300 sqm',
       'Toilets: 35', 'Bathrooms: 25', 'Bathrooms: 26', 'Toilets: 28',
       'Bathrooms: 44', 'Total Area: 8,000 sqm', 'Bathrooms: 50',
       'Covered Area: 5,600 sqm', 'Bathrooms: 93',
       'Covered Area: 624 sqm'], dtype=object)

In [23]:
df['Unnamed: 13'].unique()

array([nan, 'Covered Area: 450 sqm', 'Covered Area: 700 sqm',
       'Covered Area: 2,300 sqm', 'Covered Area: 200 sqm',
       'Covered Area: 600 sqm', 'Covered Area: 280 sqm',
       'Covered Area: 1,200 sqm', 'Servicing: Serviced',
       'Covered Area: 320 sqm', 'Covered Area: 400 sqm',
       'Covered Area: 750 sqm', 'Covered Area: 50 sqm',
       'Covered Area: 650 sqm', 'Covered Area: 800 sqm',
       'Covered Area: 300 sqm', 'Service Charge: ₦200,000 per annum',
       'Covered Area: 1,800 sqm', 'Covered Area: 1,832 sqm',
       'Covered Area: 1,000 sqm', 'Covered Area: 500 sqm',
       'Covered Area: 2,000 sqm', 'Covered Area: 2,500 sqm',
       'Covered Area: 1,500 sqm', 'Covered Area: 520 sqm',
       'Covered Area: 1,900 sqm', 'Covered Area: 390 sqm',
       'Covered Area: 480 sqm', 'Covered Area: 350 sqm',
       'Covered Area: 380 sqm', 'Covered Area: 1,400 sqm',
       'Covered Area: 3,000 sqm', 'Covered Area: 250 sqm',
       'Covered Area: 9,000 sqm', 'Covered Area: 850 sqm',
       'Covered Area: 550 sqm', 'Covered Area: 180 sqm',
       'Covered Area: 23 sqm', 'Covered Area: 162 sqm',
       'Covered Area: 370 sqm', 'Covered Area: 1,300 sqm',
       'Covered Area: 720 sqm', 'Covered Area: 620 sqm',
       'Covered Area: 5,200 sqm', 'Covered Area: 580 sqm',
       'Covered Area: 5,000 sqm', 'Covered Area: 6,000 sqm',
       'Covered Area: 3,600 sqm', 'Covered Area: 24,000 sqm',
       'Covered Area: 220 sqm', 'Covered Area: 270 sqm',
       'Covered Area: 290 sqm', 'Covered Area: 5 sqm',
       'Covered Area: 430 sqm', 'Covered Area: 330 sqm',
       'Service Charge: ₦500,000 per annum', 'Covered Area: 420 sqm',
       'Covered Area: 900 sqm', 'Covered Area: 4,500 sqm',
       'Covered Area: 1,100 sqm', 'Covered Area: 2,200 sqm',
       'Covered Area: 1,600 sqm', 'Covered Area: 27,000 sqm',
       'Covered Area: 4,000 sqm'], dtype=object)

In [24]:
df['Unnamed: 14'].unique()

array([nan, 'Servicing: Serviced', 'Service Charge: ₦300 per day',
       'Service Charge: ₦500,000', 'Service Charge: ₦300,000 per annum',
       'Service Charge: ₦1,500,000 per annum',
       'Service Charge: ₦130,000,000',
       'Service Charge: ₦150,000 per annum',
       'Service Charge: ₦300 per annum',
       'Service Charge: ₦200,000 per annum', 'Service Charge: ₦100,000'],
      dtype=object)

In [25]:
df['Unnamed: 15'].unique()

array([nan, 'Service Charge: ₦150,000 per annum',
       'Service Charge: ₦200,000 per annum',
       'Service Charge: ₦250,000 per annum'], dtype=object)

In [26]:
def move_data(df,source,target,condition_col,pattern):
    for index, row in df.iterrows():
        if pd.isnull(row[target]) and pd.notnull(row[source]) and pattern in row[condition_col]:
            df.at[index,target] = row[source]
            df.at[index,source] = None
    return df

In [27]:
df.columns

Index(['2,500,000,000', 'Maitama District, Abuja', 'Property Ref: 2173814',
       'Added On: 22 Mar 2024', 'Last Updated: 23 Apr 2024',
       'Market Status: Available', 'Type: Detached Duplex', 'Bedrooms: 7',
       'Bathrooms: 8', 'Toilets: 8', 'Parking Spaces: 10',
       'Total Area: 1,700 sqm', 'Covered Area: 1,700 sqm', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [71]:
df['new']=np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6866 entries, 0 to 6865
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           6866 non-null   int64
 1   address         6866 non-null   object
 2   property ref    6866 non-null   object
 3   lsited on       6866 non-null   object
 4   last updated    6866 non-null   object
 5   market status   6866 non-null   object
 6   type            6866 non-null   object
 7   bedrooms        6832 non-null   object
 8   bathrooms       5743 non-null   object
 9   toilets         6101 non-null   object
 10  parking spaces  4036 non-null   object
 11  new             0 non-null      float64
dtypes: float64(1), int64(1), object(10)
memory usage: 643.8+ KB

In [73]:
df['new']=df['new'].astype(object)

In [76]:

a='Bedrooms: 7'
b='Bathrooms: 8'
c='Toilets: 8'
d='Parking Spaces: 10'
e='Total Area: 1,700 sqm'
f='Covered Area: 1,700 sqm'
g='Unnamed: 13'
h='Unnamed: 14'
i='Unnamed: 15'
j='new'

In [77]:
z='Furnis'
df = move_data(df, source=a, target=j, condition_col=a, pattern=z)
df = move_data(df, source=b, target=j, condition_col=b, pattern=z)
df = move_data(df, source=c, target=j, condition_col=c, pattern=z)
df = move_data(df, source=d, target=j, condition_col=d, pattern=z)
df = move_data(df, source=f, target=j, condition_col=f, pattern=z)
df = move_data(df, source=e, target=j, condition_col=e, pattern=z)
df = move_data(df, source=g, target=j, condition_col=g, pattern=z)
df = move_data(df, source=h, target=j, condition_col=h, pattern=z)

KeyError: 'Bedrooms: 7'

In [30]:
z='Serv'
df = move_data(df, source=a, target=h, condition_col=a, pattern=z)
df = move_data(df, source=b, target=g, condition_col=b, pattern=z)
df = move_data(df, source=c, target=h, condition_col=c, pattern=z)
df = move_data(df, source=d, target=h, condition_col=d, pattern=z)
df = move_data(df, source=f, target=h, condition_col=f, pattern=z)
df = move_data(df, source=e, target=h, condition_col=e, pattern=z)
df = move_data(df, source=g, target=h, condition_col=g, pattern=z)
df = move_data(df, source=i, target=h, condition_col=i, pattern=z)

In [31]:
df['Bathrooms: 8'].unique()

array([nan, 'Bathrooms: 2', 'Toilets: 6', 'Bathrooms: 4', 'Bathrooms: 6',
       'Bathrooms: 5', 'Bathrooms: 8', 'Bathrooms: 3', 'Toilets: 4',
       'Bathrooms: 10', 'Bathrooms: 1', 'Toilets: 5', 'Toilets: 7',
       'Bathrooms: 7', 'Bathrooms: 9', None, 'Total Area: 1,000 sqm',
       'Bathrooms: 37', 'Bathrooms: 12', 'Toilets: 2', 'Bathrooms: 30',
       'Toilets: 8', 'Toilets: 3', 'Bathrooms: 18', 'Toilets: 10',
       'Bathrooms: 22', 'Total Area: 500 sqm', 'Bathrooms: 11',
       'Total Area: 950 sqm', 'Total Area: 2,000 sqm', 'Toilets: 9',
       'Toilets: 24', 'Total Area: 973 sqm', 'Bathrooms: 16',
       'Bathrooms: 72', 'Bathrooms: 28', 'Bathrooms: 19',
       'Total Area: 3,200 sqm', 'Total Area: 750 sqm', 'Bathrooms: 14',
       'Total Area: 1,500 sqm', 'Bathrooms: 64', 'Bathrooms: 13',
       'Total Area: 1,134 sqm', 'Bathrooms: 20', 'Bathrooms: 17',
       'Bathrooms: 24', 'Bathrooms: 46', 'Bathrooms: 48', 'Bathrooms: 40',
       'Bathrooms: 287', 'Bathrooms: 32', 'Bathrooms: 55',
       'Bathrooms: 70', 'Total Area: 250 sqm', 'Total Area: 780 sqm',
       'Total Area: 650 sqm', 'Total Area: 1,800 sqm',
       'Parking Spaces: 10', 'Toilets: 50', 'Toilets: 18',
       'Total Area: 580 sqm', 'Bathrooms: 39', 'Total Area: 4,000 sqm',
       'Total Area: 1,700 sqm', 'Total Area: 1,050 sqm',
       'Total Area: 5,179 sqm', 'Total Area: 800 sqm',
       'Total Area: 5,000 sqm', 'Bathrooms: 23', 'Total Area: 1,200 sqm',
       'Total Area: 1,400 sqm', 'Parking Spaces: 400',
       'Total Area: 2,619 sqm', 'Bathrooms: 60', 'Total Area: 1,300 sqm',
       'Toilets: 35', 'Bathrooms: 25', 'Bathrooms: 26', 'Toilets: 28',
       'Bathrooms: 44', 'Total Area: 8,000 sqm', 'Bathrooms: 50',
       'Covered Area: 5,600 sqm', 'Bathrooms: 93',
       'Covered Area: 624 sqm'], dtype=object)

In [32]:


df = move_data(df, source=a, target=f, condition_col=a, pattern='Covered Area')
df = move_data(df, source=b, target=f, condition_col=b, pattern='Covered Area')
df = move_data(df, source=c, target=f, condition_col=c, pattern='Covered Area')
df = move_data(df, source=d, target=f, condition_col=d, pattern='Covered Area')
df = move_data(df, source=e, target=f, condition_col=e, pattern='Covered Area')
df = move_data(df, source=g, target=f, condition_col=g, pattern='Covered Area')
df = move_data(df, source=h, target=f, condition_col=h, pattern='Covered Area')
df = move_data(df, source=i, target=f, condition_col=i, pattern='Covered Area')

In [33]:
z='Total Area'
df = move_data(df, source=a, target=e, condition_col=a, pattern=z)
df = move_data(df, source=b, target=e, condition_col=b, pattern=z)
df = move_data(df, source=c, target=e, condition_col=c, pattern=z)
df = move_data(df, source=d, target=e, condition_col=d, pattern=z)
df = move_data(df, source=f, target=e, condition_col=f, pattern=z)
df = move_data(df, source=g, target=e, condition_col=g, pattern=z)
df = move_data(df, source=h, target=e, condition_col=h, pattern=z)
df = move_data(df, source=i, target=e, condition_col=i, pattern=z)

In [34]:
z='Parking Spaces'
df = move_data(df, source=a, target=d, condition_col=a, pattern=z)
df = move_data(df, source=b, target=d, condition_col=b, pattern=z)
df = move_data(df, source=c, target=d, condition_col=c, pattern=z)
df = move_data(df, source=e, target=d, condition_col=e, pattern=z)
df = move_data(df, source=f, target=d, condition_col=f, pattern=z)
df = move_data(df, source=g, target=d, condition_col=g, pattern=z)
df = move_data(df, source=h, target=d, condition_col=h, pattern=z)
df = move_data(df, source=i, target=d, condition_col=i, pattern=z)

In [35]:
z='Toilets'
df = move_data(df, source=a, target=c, condition_col=a, pattern=z)
df = move_data(df, source=b, target=c, condition_col=b, pattern=z)
df = move_data(df, source=d, target=c, condition_col=d, pattern=z)
df = move_data(df, source=e, target=c, condition_col=e, pattern=z)
df = move_data(df, source=f, target=c, condition_col=f, pattern=z)
df = move_data(df, source=g, target=c, condition_col=g, pattern=z)
df = move_data(df, source=h, target=c, condition_col=h, pattern=z)
df = move_data(df, source=i, target=c, condition_col=i, pattern=z)

In [36]:
df['Bathrooms: 8'].unique()

array([nan, 'Bathrooms: 2', None, 'Bathrooms: 4', 'Bathrooms: 6',
       'Bathrooms: 5', 'Bathrooms: 8', 'Bathrooms: 3', 'Bathrooms: 10',
       'Bathrooms: 1', 'Bathrooms: 7', 'Bathrooms: 9', 'Bathrooms: 37',
       'Bathrooms: 12', 'Bathrooms: 30', 'Bathrooms: 18', 'Bathrooms: 22',
       'Bathrooms: 11', 'Bathrooms: 16', 'Bathrooms: 72', 'Bathrooms: 28',
       'Bathrooms: 19', 'Bathrooms: 14', 'Bathrooms: 64', 'Bathrooms: 13',
       'Bathrooms: 20', 'Bathrooms: 17', 'Bathrooms: 24', 'Bathrooms: 46',
       'Bathrooms: 48', 'Bathrooms: 40', 'Bathrooms: 287',
       'Bathrooms: 32', 'Bathrooms: 55', 'Bathrooms: 70', 'Bathrooms: 39',
       'Bathrooms: 23', 'Bathrooms: 60', 'Bathrooms: 25', 'Bathrooms: 26',
       'Bathrooms: 44', 'Bathrooms: 50', 'Bathrooms: 93'], dtype=object)

In [37]:
df['Bedrooms: 7'].unique()

array(['Bedrooms: 5', 'Bedrooms: 2', 'Bedrooms: 4', 'Bedrooms: 3',
       'Bedrooms: 6', 'Bedrooms: 9', 'Bedrooms: 1', 'Bedrooms: 8',
       'Bedrooms: 7', 'Bedrooms: 11', 'Bedrooms: 37', 'Bedrooms: 40',
       'Bedrooms: 10', None, nan, 'Bedrooms: 12', 'Bedrooms: 14',
       'Bathrooms: 18', 'Bedrooms: 16', 'Bedrooms: 54', 'Bedrooms: 28',
       'Bedrooms: 36', 'Bedrooms: 17', 'Bathrooms: 2', 'Bedrooms: 64',
       'Bedrooms: 13', 'Bedrooms: 20', 'Bedrooms: 15', 'Bedrooms: 46',
       'Bedrooms: 48', 'Bedrooms: 287', 'Bedrooms: 32', 'Bedrooms: 18',
       'Bedrooms: 38', 'Bedrooms: 39', 'Bedrooms: 33', 'Bedrooms: 21',
       'Bedrooms: 60', 'Bathrooms: 6', 'Bedrooms: 25', 'Bedrooms: 26',
       'Bedrooms: 44', 'Bedrooms: 50', 'Bedrooms: 23', 'Bedrooms: 24',
       'Bedrooms: 65', 'Bedrooms: 42', 'Bedrooms: 56'], dtype=object)

In [38]:
z='Bathrooms'
df = move_data(df, source=a, target=b, condition_col=a, pattern=z)
df = move_data(df, source=c, target=b, condition_col=c, pattern=z)
df = move_data(df, source=d, target=b, condition_col=d, pattern=z)
df = move_data(df, source=e, target=b, condition_col=e, pattern=z)
df = move_data(df, source=f, target=b, condition_col=f, pattern=z)
df = move_data(df, source=g, target=b, condition_col=g, pattern=z)
df = move_data(df, source=h, target=b, condition_col=h, pattern=z)
df = move_data(df, source=i, target=b, condition_col=i, pattern=z)

In [39]:
z='Bedrooms'
df = move_data(df, source=b, target=a, condition_col=b, pattern=z)
df = move_data(df, source=c, target=a, condition_col=c, pattern=z)
df = move_data(df, source=d, target=a, condition_col=d, pattern=z)
df = move_data(df, source=e, target=a, condition_col=e, pattern=z)
df = move_data(df, source=f, target=a, condition_col=f, pattern=z)
df = move_data(df, source=g, target=a, condition_col=g, pattern=z)
df = move_data(df, source=h, target=a, condition_col=h, pattern=z)
df = move_data(df, source=i, target=a, condition_col=i, pattern=z)

In [40]:
df = move_data(df, source=g, target=f, condition_col=g, pattern='Covered Area')

In [41]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6866 entries, 0 to 6865
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   2,500,000,000              6866 non-null   object
 1   Maitama District, Abuja    6866 non-null   object
 2   Property Ref: 2173814      6866 non-null   object
 3   Added On: 22 Mar 2024      6866 non-null   object
 4   Last Updated: 23 Apr 2024  6866 non-null   object
 5   Market Status: Available   6866 non-null   object
 6   Type: Detached Duplex      6866 non-null   object
 7   Bedrooms: 7                6832 non-null   object
 8   Bathrooms: 8               5743 non-null   object
 9   Toilets: 8                 6101 non-null   object
 10  Parking Spaces: 10         4036 non-null   object
 11  Total Area: 1,700 sqm      2316 non-null   object
 12  Covered Area: 1,700 sqm    1791 non-null   object
 13  Unnamed: 13                18 non-null     object
 14  Unnamed: 14                403 non-null    object
 15  Unnamed: 15                525 non-null    object
dtypes: object(16)
memory usage: 858.4+ KB

In [42]:
df.drop(df.columns[11:],axis=1,inplace=True)

In [43]:
df.columns=['price','address','property ref','lsited on','last updated','market status','type','bedrooms','bathrooms','toilets','parking spaces']

In [44]:
df

,price,address,property ref,lsited on,last updated,market status,type,bedrooms,bathrooms,toilets,parking spaces
0,"63,246,500","After Mountain Of Fire Estate, Before Shalom E...",Property Ref: 2260849,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 5,NaN,NaN,NaN
1,"65,000,000","By American International School, Durumi, Abuja",Property Ref: 2260848,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Block of Flats,Bedrooms: 2,Bathrooms: 2,Toilets: 3,Parking Spaces: 3
2,"480,000,000","Wuye, Abuja",Property Ref: 2260802,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 5,None,Toilets: 6,NaN
3,"140,000,000","Karsana Gwarimpa Extension In An Estate, Gwari...",Property Ref: 2260786,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 4,Bathrooms: 4,Toilets: 5,Parking Spaces: 3
4,"63,500,000","Lugbe District, Abuja",Property Ref: 2260743,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: House,Bedrooms: 5,Bathrooms: 6,Toilets: 6,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6861,"400,000,000","Guzape District, Abuja",Property Ref: 1420010,Added On: 13 Aug 2022,Last Updated: 09 May 2024,Market Status: Available,Type: Terraced Duplex,Bedrooms: 5,NaN,NaN,NaN
6862,"300,000,000","Guzape District, Abuja",Property Ref: 1416671,Added On: 10 Aug 2022,Last Updated: 04 Apr 2024,Market Status: Available,Type: Semi-detached Duplex,Bedrooms: 6,Bathrooms: 6,Toilets: 7,Parking Spaces: 5
6863,"95,000,000","Dakibiyu, Abuja",Property Ref: 1358938,Added On: 18 Jun 2022,Last Updated: 22 Feb 2024,Market Status: Available,Type: Semi-detached Duplex,Bedrooms: 4,Bathrooms: 4,Toilets: 5,NaN
6864,"420,000,000","Katampe Extension, Katampe, Abuja",Property Ref: 1413836,Added On: 08 Aug 2022,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 6,Bathrooms: 6,Toilets: 7,Parking Spaces: 7
6865,"90,000,000","By Turkish Hospital, Idu Industrial, Abuja",Property Ref: 1407515,Added On: 03 Aug 2022,Last Updated: 18 Mar 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 5,Bathrooms: 5,Toilets: 6,Parking Spaces: 5

In [45]:
df['price']=df['price'].str.replace(',',"")

In [46]:
df.price.astype('Int64')

0        63246500
1        65000000
2       480000000
3       140000000
4        63500000
          ...
6861    400000000
6862    300000000
6863     95000000
6864    420000000
6865     90000000
Name: price, Length: 6866, dtype: Int64

In [47]:
df['property ref']=df['property ref'].str.replace('Property Ref:',"")

In [48]:
df.head()

,price,address,property ref,lsited on,last updated,market status,type,bedrooms,bathrooms,toilets,parking spaces
0,63246500,"After Mountain Of Fire Estate, Before Shalom E...",2260849,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 5,NaN,NaN,NaN
1,65000000,"By American International School, Durumi, Abuja",2260848,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Block of Flats,Bedrooms: 2,Bathrooms: 2,Toilets: 3,Parking Spaces: 3
2,480000000,"Wuye, Abuja",2260802,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 5,None,Toilets: 6,NaN
3,140000000,"Karsana Gwarimpa Extension In An Estate, Gwari...",2260786,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: Detached Duplex,Bedrooms: 4,Bathrooms: 4,Toilets: 5,Parking Spaces: 3
4,63500000,"Lugbe District, Abuja",2260743,Added On: 17 May 2024,Last Updated: 17 May 2024,Market Status: Available,Type: House,Bedrooms: 5,Bathrooms: 6,Toilets: 6,NaN

In [49]:
df['lsited on']=df['lsited on'].str.replace('Added On: ',"")

In [50]:
df['last updated']=df['last updated'].str.replace('Last Updated: ',"")

In [51]:
df['market status']=df['market status'].str.replace('Market Status: ',"")

In [52]:
df

,price,address,property ref,lsited on,last updated,market status,type,bedrooms,bathrooms,toilets,parking spaces
0,63246500,"After Mountain Of Fire Estate, Before Shalom E...",2260849,17 May 2024,17 May 2024,Available,Type: Detached Duplex,Bedrooms: 5,NaN,NaN,NaN
1,65000000,"By American International School, Durumi, Abuja",2260848,17 May 2024,17 May 2024,Available,Type: Block of Flats,Bedrooms: 2,Bathrooms: 2,Toilets: 3,Parking Spaces: 3
2,480000000,"Wuye, Abuja",2260802,17 May 2024,17 May 2024,Available,Type: Detached Duplex,Bedrooms: 5,None,Toilets: 6,NaN
3,140000000,"Karsana Gwarimpa Extension In An Estate, Gwari...",2260786,17 May 2024,17 May 2024,Available,Type: Detached Duplex,Bedrooms: 4,Bathrooms: 4,Toilets: 5,Parking Spaces: 3
4,63500000,"Lugbe District, Abuja",2260743,17 May 2024,17 May 2024,Available,Type: House,Bedrooms: 5,Bathrooms: 6,Toilets: 6,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6861,400000000,"Guzape District, Abuja",1420010,13 Aug 2022,09 May 2024,Available,Type: Terraced Duplex,Bedrooms: 5,NaN,NaN,NaN
6862,300000000,"Guzape District, Abuja",1416671,10 Aug 2022,04 Apr 2024,Available,Type: Semi-detached Duplex,Bedrooms: 6,Bathrooms: 6,Toilets: 7,Parking Spaces: 5
6863,95000000,"Dakibiyu, Abuja",1358938,18 Jun 2022,22 Feb 2024,Available,Type: Semi-detached Duplex,Bedrooms: 4,Bathrooms: 4,Toilets: 5,NaN
6864,420000000,"Katampe Extension, Katampe, Abuja",1413836,08 Aug 2022,17 May 2024,Available,Type: Detached Duplex,Bedrooms: 6,Bathrooms: 6,Toilets: 7,Parking Spaces: 7
6865,90000000,"By Turkish Hospital, Idu Industrial, Abuja",1407515,03 Aug 2022,18 Mar 2024,Available,Type: Detached Duplex,Bedrooms: 5,Bathrooms: 5,Toilets: 6,Parking Spaces: 5

In [53]:
df['type']=df['type'].str.replace('Type: ',"")

In [54]:
df['bedrooms']=df['bedrooms'].str.replace('Bedrooms:','')

In [55]:
df['bathrooms']=df['bathrooms'].str.replace('Bathrooms:','')

In [56]:
df.columns

Index(['price', 'address', 'property ref', 'lsited on', 'last updated',
       'market status', 'type', 'bedrooms', 'bathrooms', 'toilets',
       'parking spaces'],
      dtype='object')

In [57]:
df['toilets']=df['toilets'].str.replace('Toilets:','')

In [58]:
df['parking spaces']=df['parking spaces'].str.replace('Parking Spaces:','')

In [67]:
for items in df.columns[:12]:
    display(df[items].value_counts())

price
250000000      343
150000000      304
350000000      275
200000000      232
400000000      192
              ...
25500000         1
20000000000      1
107000000        1
5000000000       1
31000000         1
Name: count, Length: 326, dtype: int64

address
Guzape District, Abuja                        571
Maitama District, Abuja                       396
Life Camp, Abuja                              331
Katampe Extension, Katampe, Abuja             305
Jahi, Abuja                                   273
                                             ...
Behind Road Safety, Mabushi, Abuja              1
Hall 7 Estate, Karsana, Abuja                   1
By Cedar Crest, Apo, Abuja                      1
Extension, Kubwa, Abuja                         1
By Turkish Hospital, Idu Industrial, Abuja      1
Name: count, Length: 1674, dtype: int64

property ref
2198175    21
2222041    19
2068017    18
2008335    17
2140814    17
           ..
2027913     1
1980882     1
2030039     1
2030058     1
1407515     1
Name: count, Length: 6479, dtype: int64

lsited on
14 May 2024    98
13 May 2024    91
16 May 2024    90
02 May 2024    78
24 Apr 2024    75
               ..
05 Feb 2023     1
04 Feb 2023     1
27 Jul 2022     1
19 Jun 2023     1
08 Aug 2022     1
Name: count, Length: 635, dtype: int64

last updated
17 May 2024    572
15 May 2024    434
23 Apr 2024    428
16 May 2024    411
13 May 2024    353
              ...
25 Feb 2024     10
01 Mar 2024      9
05 Mar 2024      7
17 Feb 2024      5
15 Feb 2024      2
Name: count, Length: 92, dtype: int64

market status
Available    6863
Sold            3
Name: count, dtype: int64

type
Detached Duplex           2824
Terraced Duplex           2069
Semi-detached Duplex       834
Block of Flats             443
House                      350
Detached Bungalow          276
Semi-detached Bungalow      61
Terraced Bungalow            9
Name: count, dtype: int64

bedrooms
4      2746
5      1799
3       743
6       677
7       314
2       204
8       147
9        70
1        34
12       21
10       19
11        8
16        7
20        4
50        3
14        3
26        2
18        2
32        2
13        2
40        2
17        2
64        1
21        1
42        1
65        1
24        1
23        1
37        1
44        1
25        1
60        1
33        1
39        1
38        1
54        1
28        1
287       1
48        1
46        1
15        1
36        1
56        1
Name: count, dtype: int64

bathrooms
4      1811
5      1678
6       886
3       465
7       359
8       193
2       125
9        71
10       56
1        17
12       15
16        9
11        7
18        7
14        5
50        3
46        3
13        3
22        2
20        2
23        2
32        2
30        2
40        2
28        2
17        1
39        1
72        1
44        1
26        1
25        1
60        1
70        1
24        1
55        1
19        1
287       1
37        1
48        1
64        1
93        1
Name: count, dtype: int64

toilets
5      2349
6      1579
4       722
7       596
8       304
3       195
10      112
9        84
2        49
11       17
12       14
1        11
24        6
13        6
14        6
18        5
17        3
20        3
28        3
40        3
65        2
16        2
22        2
25        2
37        2
19        2
72        2
50        2
46        1
49        1
34        1
57        1
27        1
35        1
45        1
102       1
55        1
15        1
70        1
300       1
41        1
56        1
30        1
63        1
21        1
60        1
Name: count, dtype: int64

parking spaces
 4                       831
 3                       818
 5                       635
 6                       400
 10                      349
 8                       252
 2                       250
 7                       130
 15                      115
 12                       59
 20                       57
 9                        34
 50                       16
 25                       12
 1                        11
 14                        9
 30                        9
 16                        6
 200                       4
 24                        4
 13                        4
 18                        4
 11                        3
 100                       3
 700                       2
 40                        2
 58                        2
 28                        1
 500                       1
Total Area: 3,000 sqm      1
 60                        1
 23                        1
 600                       1
 10000                     1
 55                        1
 400                       1
 1000                      1
 3000                      1
 36                        1
 800                       1
 1200                      1
 35                        1
Name: count, dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6866 entries, 0 to 6865
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           6866 non-null   object
 1   address         6866 non-null   object
 2   property ref    6866 non-null   object
 3   lsited on       6866 non-null   object
 4   last updated    6866 non-null   object
 5   market status   6866 non-null   object
 6   type            6866 non-null   object
 7   bedrooms        6832 non-null   object
 8   bathrooms       5743 non-null   object
 9   toilets         6101 non-null   object
 10  parking spaces  4036 non-null   object
dtypes: object(11)
memory usage: 590.2+ KB

In [61]:
df.isna().sum()

price                0
address              0
property ref         0
lsited on            0
last updated         0
market status        0
type                 0
bedrooms            34
bathrooms         1123
toilets            765
parking spaces    2830
dtype: int64

In [62]:
df_sub=df.dropna()

In [66]:
df['price'] = df['price'].astype('int64')

#df['bedrooms']=df['bedrooms'].astype(int)
#df['bathrooms']=df['bathrooms'].astype(int)
#df['toilets']=df['toilets'].astype(int)

In [ ]:
df_numeric=df[['price','bedrooms', 'bathrooms', 'toilets',
       'parking spaces']]

In [ ]:
df_numeric.describe()

            price bedrooms bathrooms toilets parking spaces
count        6866     6832      5743    6101           4036
unique        326       43        41      46             42
top     250000000        4         4       5              4
freq          343     2746      1811    2349            831

In [ ]:
df_numeric1 = df_numeric.dropna(axis=0)

In [ ]:
df_numeric1.isna().sum()

price             0
bedrooms          0
bathrooms         0
toilets           0
parking spaces    0
dtype: int64

C:\Users\ishar\AppData\Local\Temp\ipykernel_15952\1642751882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric1['price'] = df_numeric1['price'].astype('int64')
C:\Users\ishar\AppData\Local\Temp\ipykernel_15952\1642751882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric1['bedrooms']=df_numeric1['bedrooms'].astype(int)
C:\Users\ishar\AppData\Local\Temp\ipykernel_15952\1642751882.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric1['bathrooms']=df_numeric1['bathrooms'].astype(int)
C:\Users\ishar\AppData\Local\Temp\ipykernel_15952\1642751882.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric1['toilets']=df_numeric1['toilets'].astype(int)

In [ ]:
df_numeric1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3993 entries, 1 to 6865
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           3993 non-null   int64
 1   bedrooms        3993 non-null   int32
 2   bathrooms       3993 non-null   int32
 3   toilets         3993 non-null   int32
 4   parking spaces  3993 non-null   object
dtypes: int32(3), int64(1), object(1)
memory usage: 140.4+ KB

In [ ]:
df_numeric1

<class 'pandas.core.frame.DataFrame'>
Index: 3993 entries, 1 to 6865
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           3993 non-null   object
 1   bedrooms        3993 non-null   object
 2   bathrooms       3993 non-null   object
 3   toilets         3993 non-null   object
 4   parking spaces  3993 non-null   object
dtypes: object(5)
memory usage: 187.2+ KB

In [ ]:
for data in df_numeric1.columns:
    df_numeric[data].astype('int64'

In [ ]:
def conver_data(df):
    for columns in df.columns:
        print(columns)

In [ ]:
df_numeric1['price'].max()

3500000000000

In [ ]:
df_numeric1[df_numeric1['price']==3500000000000]

              price  bedrooms  bathrooms  toilets parking spaces
2583  3500000000000         4         70       70            200

In [ ]:
df_numeric1.describe().round()

              price  bedrooms  bathrooms  toilets
count  3.993000e+03    3993.0     3993.0   3993.0
mean   1.815138e+09       5.0        5.0      6.0
std    5.982258e+10       5.0        5.0      6.0
min    5.000000e+05       1.0        1.0      1.0
25%    1.200000e+08       4.0        4.0      5.0
50%    2.300000e+08       4.0        5.0      5.0
75%    4.500000e+08       5.0        6.0      6.0
max    3.500000e+12     287.0      287.0    300.0